/* print.css - special rules for printing Matthew's pages  */

/* Spacer and logo cells from header navigation, text from footer navigation,
 * and anything else appropriate, disappear:
 */
#spc1cell, #logocell, #spc2cell, #subpages, #siblingpages, #footnavcell, .noprint {
    visibility: collapse;
    display: none;
    width: 0px;
}

/* Navigation bar is white-on-black (note more specific than .navigation rule
 * in generic stylesheet):
 */

#header .navigation {
    color: black;
    background-color: white;
}

/* Formatting changes for breadcrumbs:
 */
#header #crumbs {
    color: black;
    background-color: white;
    font-family: Times, Times New Roman, serif;
    font-size: 75%;
}
#header #crumbs > A {
    color: black;
    background-color: white;
    text-decoration: none;
}

